__pycache__/
*.py[cod]
*$py.class
*.so

.pytest_cache/
.venv/
env/
venv/
ENV/
.env

# IDE & Config
.vscode/
launch.json
.idea/
.DS_Store

*.log
log.txt
**/log.txt

**/scripts/**

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
**/chroma_db/
chroma_db/
data/chroma_db/
backend/data/

*.tsbuildinfo
